@{
    ViewBag.Title = "Home Page";
}

<article class="item thumb" data-width="282">
    <h2>My Juice Box</h2>
    <a href="~/Content/Images/Fulls/01.jpg" class="image"><img src="~/Content/Images/Thumbs/01.jpg" alt=""></a>
</article>

<article class="item thumb" data-width="384">
    <h2>Community Box</h2>
    <a href="~/Content/Images/Fulls/02.jpg" class="image"><img src="~/Content/Images/Thumbs/02.jpg" alt=""></a>
</article>

<article class="item thumb" data-width="274">
    <h2>My Ingredients</h2>
    <a href="~/Content/Images/Fulls/03.jpg" class="image"><img src="~/Content/Images/Thumbs/03.jpg" alt=""></a>
</article>

<article class="item thumb" data-width="282">
    <h2>Ingredients List</h2>
    <a href="~/Content/Images/Fulls/04.jpg" class="image"><img src="~/Content/Images/Thumbs/04.jpg" alt=""></a>
</article>

<article class="item thumb" data-width="476">
    <h2>Forum</h2>
    <a href="~/Content/Images/Fulls/05.jpg" class="image"><img src="~/Content/Images/Thumbs/05.jpg" alt=""></a>
</article>

<article class="item thumb" data-width="232">
    <h2>IDK Yet</h2>
    <a href="~/Content/Images/Fulls/06.jpg" class="image"><img src="~/Content/Images/Thumbs/06.jpg" alt=""></a>
</article>


<!-- Filler Thumb Items (just for demonstration purposes) -->
@*<article class="item thumb" data-width="476"><h2>Kingdom of the Wind</h2><a href="~/Content/Images/Fulls/05.jpg" class="image"><img src="~/Content/Images/Thumbs/05.jpg" alt=""></a></article>
<article class="item thumb" data-width="232"><h2>The Pursuit</h2><a href="~/Content/Images/Fulls/06.jpg" class="image"><img src="~/Content/Images/Thumbs/06.jpg" alt=""></a></article>
<article class="item thumb" data-width="352"><h2>Boundless</h2><a href="~/Content/Images/Fulls/07.jpg" class="image"><img src="~/Content/Images/Thumbs/07.jpg" alt=""></a></article>
<article class="item thumb" data-width="348"><h2>The Spectators</h2><a href="~/Content/Images/Fulls/08.jpg" class="image"><img src="~/Content/Images/Thumbs/08.jpg" alt=""></a></article>
<article class="item thumb" data-width="282"><h2>You really got me</h2><a href="~/Content/Images/Fulls/01.jpg" class="image"><img src="~/Content/Images/Thumbs/01.jpg" alt=""></a></article>
<article class="item thumb" data-width="384"><h2>Ad Infinitum</h2><a href="~/Content/Images/Fulls/02.jpg" class="image"><img src="~/Content/Images/Thumbs/02.jpg" alt=""></a></article>
<article class="item thumb" data-width="274"><h2>Different.</h2><a href="~/Content/Images/Fulls/03.jpg" class="image"><img src="~/Content/Images/Thumbs/03.jpg" alt=""></a></article>
<article class="item thumb" data-width="282"><h2>Elysium</h2><a href="~/Content/Images/Fulls/04.jpg" class="image"><img src="~/Content/Images/Thumbs/04.jpg" alt=""></a></article>*@
